<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>获得</key>
	<string>회득</string>
	<key>小时</key>
	<string>시간</string>
	<key>万</key>
	<string>만</string>
	<key>亿</key>
	<string>억</string>
	<key>数量不能少于1</key>
	<string>수량은 1미만일 수가 없음</string>
	<key>赠送</key>
	<string>지급</string>
	<key>屏幕亮度</key>
	<string>화면 밝기</string>
	<key>弹幕位置</key>
	<string>채팅창 위치</string>
	<key>弹幕字体大小</key>
	<string>채팅창 글자체 크기</string>
	<key>弹幕透明度</key>
	<string>채팅창 투명도</string>
	<key>游艇</key>
	<string>요트</string>
	<key>火箭</key>
	<string>로켓</string>
	<key>城堡</key>
	<string>캐슬</string>
	<key>跑车</key>
	<string>스포츠카</string>
	<key>战斗机</key>
	<string>드론</string>
	<key>点赞成功</key>
	<string>좋아요 성공</string>
	<key>请输入弹幕</key>
	<string>채팅 내용 입력</string>
	<key>加载失败</key>
	<string>다운로드 실패</string>
	<key>赠送数量:</key>
	<string>지급 수량 :</string>
	<key>发送</key>
	<string>발송</string>
	<key>购买</key>
	<string>구매</string>
	<key>可送</key>
	<string>발송 가능</string>
	<key>天</key>
	<string>일</string>
	<key>排名</key>
	<string>순위</string>
	<key>昵称</key>
	<string>명칭</string>
	<key>弹幕已开启</key>
	<string>채팅창 열기</string>
	<key>弹幕已关闭</key>
	<string>채팅창 닫기</string>
	<key>礼物发送成功</key>
	<string>선물 발송 성공</string>
	<key>礼物发送失败</key>
	<string>선물 발송 실패</string>
	<key>数量不能超过20</key>
	<string>20개 초과 불가</string>
	<key>砖石数量不足</key>
	<string>보석 수량 부족</string>
	<key>金币数量不足</key>
	<string>골드 수량 부족</string>
	<key>弹幕发送失败</key>
	<string>채팅 전송 실패</string>
	<key>弹幕发送成功</key>
	<string>채팅 전송 성공</string>
	<key>取消关注</key>
	<string>팔로우 취소</string>
	<key>关注成功</key>
	<string>팔로우 성공</string>
	<key>关注失败</key>
	<string>팔로우 실패</string>
	<key>点赞失败</key>
	<string>팔로우 성공</string>
	<key>主播排名</key>
	<string>BJ 랭킹</string>
	<key>房间列表</key>
	<string>방 리스트</string>
	<key>点赞数</key>
	<string>좋아요 개수</string>
	<key>排行榜</key>
	<string>랭킹 </string>
	<key>每周-00:00</key>
	<string>매주-00:00</string>
	<key>更新</key>
	<string>갱신</string>
	<key>请在此输入弹幕</key>
	<string>여기에 채팅 내용 입력</string>
</dict>
</plist>
