<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>屏幕亮度</key>
	<string>屏幕亮度</string>
	<key>弹幕位置</key>
	<string>弹幕位置</string>
	<key>弹幕字体大小</key>
	<string>弹幕字体大小</string>
	<key>弹幕透明度</key>
	<string>弹幕透明度</string>
	<key>游艇</key>
	<string>游艇</string>
	<key>火箭</key>
	<string>火箭</string>
	<key>城堡</key>
	<string>城堡</string>
	<key>跑车</key>
	<string>跑车</string>
	<key>战斗机</key>
	<string>战斗机</string>
	<key>点赞成功</key>
	<string>点赞成功</string>
	<key>请输入弹幕</key>
	<string>请输入弹幕</string>
	<key>加载失败</key>
	<string>加载失败</string>
	<key>赠送数量:</key>
	<string>赠送数量:</string>
	<key>发送</key>
	<string>发送</string>
	<key>购买</key>
	<string>购买</string>
	<key>可送</key>
	<string>可送</string>
	<key>天</key>
	<string>天</string>
	<key>排名</key>
	<string>排名</string>
	<key>昵称</key>
	<string>昵称</string>
	<key>弹幕已开启</key>
	<string>弹幕已开启</string>
	<key>弹幕已关闭</key>
	<string>弹幕已关闭</string>
	<key>礼物发送成功</key>
	<string>礼物发送成功</string>
	<key>礼物发送失败</key>
	<string>礼物发送失败</string>
	<key>数量不能超过20</key>
	<string>数量不能超过20</string>
	<key>砖石数量不足</key>
	<string>砖石数量不足</string>
	<key>金币数量不足</key>
	<string>金币数量不足</string>
	<key>弹幕发送失败</key>
	<string>弹幕发送失败</string>
	<key>弹幕发送成功</key>
	<string>弹幕发送成功</string>
	<key>取消关注</key>
	<string>取消关注</string>
	<key>关注成功</key>
	<string>关注成功</string>
	<key>关注失败</key>
	<string>关注失败</string>
	<key>点赞失败</key>
	<string>点赞失败</string>
	<key>主播排名</key>
	<string>主播排名</string>
	<key>房间列表</key>
	<string>房间列表</string>
	<key>点赞数</key>
	<string>点赞数</string>
	<key>排行榜</key>
	<string>排行榜</string>
	<key>每周-00:00</key>
	<string>每周-00:00</string>
	<key>更新</key>
	<string>更新</string>
	<key>请在此输入弹幕</key>
	<string>请在此输入弹幕</string>
</dict>
</plist>
